<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img src="/CppCoreGuidelines/cpp_core_guidelines_16b.png"/>
      <!--
      <h3>
        <!- -<a href="{{ site.baseurl }}">- ->
        <a href="https://github.com/Marcusacapuces91/CppCoreGuidelines">
           Lignes Directrices Essentielles de C++
        </a>
      </h3>
      -->
    </div>
    <nav class="sidebar-nav">
      <small>
{% if page.name != "index.html" %}
      <div class="switch">
        <input class="tgl tgl-cpp" id="hl_button" type="checkbox"/>
        <!-- label class="tgl-btn" data-tg-off="Turn ON syntax highlighting" data-tg-on="Turn OFF syntax highlighting" for="hl_button"></label -->
        <label class="tgl-btn" data-tg-off="Activer la coloration syntaxique" data-tg-on="Désactiver la coloration syntaxique" for="hl_button"></label>
      </div>
        
      <!-- Items have to be added manually until for now -->

      <a class="sidebar-nav-item active" href="/CppCoreGuidelines/fr/001-main.html">Lignes Directrices Essentielles de C++</a>
      <br/>  

<!-- Génération automatique de la liste des fichiers fr/ -->
{%- assign fr_files = site.static_files | where: "extname", ".md" | where_exp: "item", "item.path contains '/fr/'" | sort: "path" -%}
{% for file in fr_files %}
    {% if file.name != "001-main.md" %}
      {%- assign title = file.name | replace: '.md', '' | slice: 4,999 -%}
      <a class="sidebar-nav-item active" href="/CppCoreGuidelines{{ file.path | replace: '.md', '.html' }}">{{file.title}} ({{ title | slice: 0, 1 | upcase }}{{ title | slice: 1,999 | downcase }})</a>
    {%- endif -%}
{% endfor %}
{% endif %}
      
<!--
      <br/>
      <a class="sidebar-nav-item active" href="#s-a">A: Architectural Ideas</a>
      <a class="sidebar-nav-item active" href="#s-not">NR: Non-Rules and myths</a>
      <a class="sidebar-nav-item active" href="#s-references">RF: References</a>
      <a class="sidebar-nav-item active" href="#s-profile">Pro: Profiles</a>
      <a class="sidebar-nav-item active" href="#s-gsl">GSL: Guideline support library</a>
      <a class="sidebar-nav-item active" href="#s-naming">NL: Naming and layout</a>
      <a class="sidebar-nav-item active" href="#s-faq">FAQ: Frequently asked questions</a>
      <a class="sidebar-nav-item active" href="#s-libraries">Appendix A: Libraries</a>
      <a class="sidebar-nav-item active" href="#s-modernizing">Appendix B: Modernizing code</a>
      <a class="sidebar-nav-item active" href="#s-discussion">Appendix C: Discussion</a>
      <a class="sidebar-nav-item active" href="#s-tools">Appendix D: Tools support</a>
      <a class="sidebar-nav-item active" href="#s-glossary">Glossary</a>
      <a class="sidebar-nav-item active" href="#s-unclassified">To-do: Unclassified proto-rules</a>
-->

      <br/>  
      <a class="sidebar-nav-item active" href="/CppCoreGuidelines/index.html">Fichier README du projet</a>
      <a class="sidebar-nav-item active" href="/CppCoreGuidelines/CONTRIBUTING.md">Fichier Contributing</a>
      <a class="sidebar-nav-item active" href="/CppCoreGuidelines/LICENSE">Fichier de Licence</a>
      </small>

    </nav>

    <!-- <p>Generated {{ site.time | date: '%Y-%m-%d' }}.</p> -->
  </div>
</div>
